@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    color: #353535;
    margin-block-end: 10px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color: #353535;
    margin-block-end: 10px;
    text-align:  center;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 70px;
    color: #353535;
    margin-block-end: 10px;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #E87E04;
    margin-block-end: 10px;
    margin-block-start: 10px;

}

p {
    font-family: 'Roboto', sans-serif;
    color: #353535;
    font-weight: 300;
}

hr {
    height: 4px;
    width: 70px;
    text-align: center;
    position: relative;
    background: #E87E04;
    margin: 0 auto;
    margin-bottom: 30px;
    border: 0;
}

body {
    margin: 0px;
}

.flex-style {
    display: flex;
}

.color_contacts {
    background-color: rgb(0 0 0 / 55%);
}

.color_grey {
    background-color: #353535;
}

.main {
    width: 100%;
    height: 100%;

    flex-direction: column;
    align-items: stretch;

}

.background-image {
    background-image: url(images/background-image.jpg);
    z-index: -1;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: .55;
}

.main__item {
    height: 100vh;
}

.intro {
    background: url(images/intro-bg.jpg) no-repeat center center;
    align-items: center;
    justify-content: flex-end;
    font-size: 24px;
}

.title {
    align-items: center;
    flex-direction: column;
    margin: 10%;
}

.about-me {
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    font-size: 20px;
}

.container {
    flex-direction: column;
    margin: 3% 15% 8% 15%;

}

.skills-me {
    align-items: center;
    justify-content: center;
}

.slill__icon {
    width: 180px;
    height: 180px;
}

.skills {
    align-content: space-around;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill {
    flex-direction: column;
    align-items: center;
    margin: 5%;
}

.experience {
    background-color: whitesmoke;
    flex-direction: column;
}

.education {
    background-color: whitesmoke;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timeline {
    position: relative;
    padding: 0;
    list-style: none;
    width: 100%;
}


.timeline__row {
    justify-content: space-between;
    margin-bottom: 25%;
    flex-direction: column;
}

.timeline__row:last-child { 
    margin-bottom: 0%;
}

@media(min-width: 768px) {
    .timeline__row {
        flex-direction: row;
        margin-bottom: 10%;
    }
}

.timeline-image {
    flex-basis: 45%;
    justify-content: center;
    align-items: center;
}

@media(min-width: 768px) {
    .timeline-image {
        justify-content: flex-end;
    }
}

.image__time {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    text-align: center;
    background: #fff;
    align-items: center;
    justify-content: center;
}

@media(min-width: 768px) {
    .timeline:before {
        width: 2px;
    }
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1.5px;
    background-color: #eee;
}

.timeline-panel {
    flex-basis: 45%;
}


.chart-text {
    font: 16px/1.4em "Montserrat", Arial, sans-serif;
    fill: #000;
    -moz-transform: translateY(0.25em);
    -ms-transform: translateY(0.25em);
    -webkit-transform: translateY(0.25em);
    transform: translateY(0.25em);
  }

  .chart-number {
    font-size: 0.4em;
    line-height: 1;
    text-anchor: middle;
    -moz-transform: translateY(-0.25em);
    -ms-transform: translateY(-0.25em);
    -webkit-transform: translateY(-0.25em);
    transform: translateY(-0.25em);
  }

.contacts {
    align-items: center;
    justify-content: center;
}

#contacts h2 {
    color: whitesmoke;
}

.email-icon {
    background-image: url(images/email.svg);
}

.telephone-icon {
    background-image: url(images/telephone.svg);
}

.vk-icon {
    background-image: url(images/vk.svg);
}

.instagram-icon {
    background-image: url(images/instagram.svg);
}

.gitlab-icon {
    background-image: url(images/gitlab.svg);
}

.item_long__image {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 5px;
}

.contacts__panel {
    align-content: space-around;
    justify-content: space-around;
    flex-wrap: wrap;
}

@media(min-width: 768px) {
    .contacts__panel {
        flex-wrap: nowrap;
    }
}


.panel__item_long {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5% 15%;
}

.item_long__text {
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    font-weight: 300;
    text-decoration: none;
    margin-top: 25px;
    white-space: nowrap;
}

.panel__item {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 5% 15%;
}

.item__image {
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 5px;
}

.contacts__panel_second {
    align-content: space-around;
    justify-content: space-around;
    margin-top: 15%;
    flex-wrap: wrap;
}

@media(min-width: 768px) {
    .contacts__panel_second {
        flex-wrap: nowrap;
    }
}

#footer p {
    color: #d7d7d7;
    text-align: center;
    font-size: 12px;
    margin: 2% 0;
}

.footer {
    align-items: center;
    justify-content: center;
}

.text-color-dark {
    color: #353535;
}

a:hover {
    color: #E87E04;
    transition: 300ms;
   }

a:not(:hover) {
    transition: 300ms;
}